body{
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    max-width: 500px;
    margin:  60px auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 10px rgb(83, 28, 28) ;
    background-color: rgb(214, 144, 199);
}
h1{
    text-align: center;
    color: rgb(83, 8, 67);
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
label{
    display: flex;
    align-items: center;
    margin: 8px 0px;
}
#pass{
    margin-top: 50px;
    font-size: medium;
    text-align: center;
    border-radius: 10px;
  }
  #generator{
    margin-top: 8px;
    border: none;
    border-radius: 8px;
    color:white;
    font-size: 15px;
    background-color:  #11b911;
    padding: 8px;
    
  }
  #generator:hover{
    cursor: pointer;
    background-color: rgb(24, 224, 68);
  }

